[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/yankring"]
	path = home/.vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim
    ignore = dirty
[submodule "home/.vim/bundle/rainbow-parentheses"]
	path = home/.vim/bundle/rainbow-parentheses
	url = git://github.com/kien/rainbow_parentheses.vim
[submodule "home/.vim/bundle/latex-suite"]
	path = home/.vim/bundle/latex-suite
	url = https://github.com/gerw/vim-latex-suite
[submodule "home/.vim/bundle/pathogen"]
	path = home/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/ghcmod"]
	path = home/.vim/bundle/ghcmod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "home/.vim/bundle/vimproc"]
	path = home/.vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.vim.git
